{% load static %}
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>+ 5 pounds</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body style="padding-top:70px;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">+ 5 pounds</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Homepage<span class="sr-only">(current)</span></a></li>
          <li><a href="#">recommend blog</a></li>
          {% if request.user.username %}
          <li><a href="{% url 'project:authorPage' request.user.id %}">My Blog</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.username %}
          <li><a href="{% url 'project:authorPage' request.user.id %}">{{ request.user.username }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">my account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'project:authorPage' request.user.id %}">my blogs</a></li>
              <li><a href="#">my collections</a></li>
              <li><a href="#">personal information</a></li>
              <li><a href="#">change password</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout/">logout</a></li>
            </ul>
          </li>
          {% else %}
              <li><a href="{% url 'project:login' %}">login</a></li>
              <li><a href="{% url 'project:register' %}">register</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="content-body">
    <div class="container">
      <div class="row">
        <main class="col-md-8">
          {% block main %}
          {% endblock main %}
          {% for blog in blog_list %}
          <div class="media">
            {% if not author %}
            <div class="media-left">
              <a href="{% url 'project:authorPage' blog.author.id %}">
                <img class="media-object img-circle" src="/media/{{ blog.author.profile_photo }}" alt="click to blogger's page"
                style="width: 80px;height: 80px;">
              </a>
            </div>
            {% endif %}
            <div class="media-body">
              <h4 class="media-heading"><a href="#"> {{ blog.title }}</a></h4>
              <p>{{ blog.excerpt|safe }}</p>
              <div class="entry-meta">
                <span class="blog-category"><a href="#">{{ blog.category.name }}</a> </span>
                <span class="blog-date">
                  <a href="#"><time class="entry-date" datetime="{{ blog.created_time }}">
                    {{ blog.created_time }}</time>
                  </a>
                </span>
                <span class="blog-author"><a href="#">{{ blog.author.nickname }}</a> </span>
                <span class="comments-link"><a href="#">comments</a> </span>
                <span class="views-count"><a href="#">{{ blog.views }}</a> </span>
              </div>
            </div>
          </div>
          {% empty %}
          <p>No blog yet!</p>
          {% endfor %}
        </main>
        <aside class="col-md-4">
          {% if author %}
          <div class="panel panel-default">
            <div class="panel-heading">Author</div>
            <div class="panel-body" style="text-align: center;">
              <img src="/media/{{ author.profile_photo }}" alt="{{author.nicknage }}"
                   style="width: 80px; height: 80px;" class="img-circle"/>
              <h4>{{ author.nickname }}</h4>
              <div>Blog(11) following(88) follower(100)</div>
            </div>
          </div>
          {% endif %}
          <div class="panel panel-default">
            <div class="panel-heading">newest blog</div>
            <div class="panel-body">
              {% get_newest_blogs as new_blog_list %}
              <ul>
                {% for blog in new_blog_list %}
                <li><a href="#">{{ blog.title }}</a> </li>
                {% empty %}
                No blog post yet
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Category</div>
            <div class="panel-body">
              {% get_categories as category_list %}
              <ul>
                {% for category in category_list %}
                <li><a href="{% url 'project:category' category.id %}">
                  {{ category.name }}
                  <span class="post-count">({{ category.num_blogs }})</span>
                  </a></li>
                {% empty %}
                No category yet
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Blog Tag</div>
            <div class="panel-body">
              <div class="tag-list">
                {% get_tags as tag_list %}
              <ul>
                {% for tag in tag_list %}
                <li><a href="{% url 'project:tags' tag.id %}">
                  {{ tag.name }}({{ tag.num_blogs }})
                  </a></li>
                {% empty %}
                No tag yet
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Archives</div>
            <div class="panel-body">
                {% get_archives as date_list %}
              <ul>
                {% for dates in date_list %}
                <li><a href="/project/archives/{{dates.month}}/{{dates.year}}">
                  {{ dates.month }}/{{ dates.year }}
                  </a></li>
                {% empty %}
                No archive yet
                {% endfor %}
                </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div style="margin-top:15px;text-align:center;"> + 5 pounds&nbsp;&copy;&nbsp;</div>
    </nav>
</body>
</html>
